body {
  opacity: 0;
  background-color: #fafafa;
  color: #171717;
  padding-top: 2rem;
  padding-bottom: 6rem;
  padding-left: 2rem;
  padding-right: 2rem;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body.ready {
  opacity: 1;
}

hero-header,
main,
my-footer {
  max-width: 52rem;
  margin-left: auto;
  margin-right: auto;
}

main {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

ul {
  list-style-position: inside;
}

ul>*+* {
  margin-top: 1rem;
}

p {
  line-height: 1.625;
}

a {
  border-bottom: solid 1px #d4d4d4;
  transition-property: border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

a:hover {
  border-bottom-color: #262626;
}
