body {
  opacity: 0;
  background-color: #fafafa;
  color: #171717;
  padding: 2rem;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  @media screen and (min-width: 56rem) {
    padding-bottom: 3rem;
  }
  @media (prefers-color-scheme: dark) {
    background-color: #171717;
    color: #fafafa;
  }
}

body.ready {
  opacity: 1;
}

body > * {
  max-width: 52rem;
  margin-left: auto;
  margin-right: auto;
}

hero-header:not(:defined) {
  background-color: inherit;
}

main {
  margin-top: 10rem;
  margin-bottom: 4rem;
  @media screen and (min-width: 56rem) {
    margin-top: 12rem;
    margin-bottom: 6rem;
  }
}

h1 {
  font-weight: 700;
}

h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

ul {
  list-style-position: inside;
  & > * + * {
    margin-top: 1rem;
  }
}

p {
  line-height: 1.625;
}

a {
  border-bottom: solid 1px #d4d4d4;
  transition-property: border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  &:hover {
    border-bottom-color: #262626;
  }
  @media (prefers-color-scheme: dark) {
    border-bottom-color: #525252;
    &:hover {
      border-bottom-color: #e5e5e5;
    }
  }
}
