@import "reset.css" layer(reset);

body {
  opacity: 1 !important;
}

hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -6rem;
}

svg {
  width: 6rem;
}

my-footer {
  display: block;
}
