@import "reset.css" layer(reset);

body {
  opacity: 1 !important;
  --bg: #fff5f6;
  --fill: #ffbac1;
}

hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -6rem;
}

my-icon {
  width: 6rem;
  content: url("/favicon.svg");
}

my-footer {
  display: block;
}
