:root, hero-header {
  --color-light: #fafafa;
  --color-dark: #171717;
  --bg: var(--color-light);
  --text: var(--color-dark);
  --easing: cubic-bezier(0.4, 0, 0.2, 1);

  @media (prefers-color-scheme: dark) {
    --bg: var(--color-dark);
    --text: var(--color-light);
  }
}

body {
  opacity: 0;
  background-color: var(--bg);
  color: var(--text);
  transition: opacity 500ms var(--easing);
}

body.ready {
  opacity: 1;
}

h1 {
  font-size: 1.875rem;
  font-weight: 800;
  text-align: center;
}

h2 {
  opacity: 0;
  font-size: 1.25rem;
  font-weight: 600;
}

svg :not(#eyes) {
  stroke-dasharray: 30 0;
}

hero-header.end {
  svg :not(#eyes) {
    stroke-dasharray: 10 20;
    opacity: 0;
    transition-property: stroke-dasharray, opacity;
    transition-duration: var(--duration);
    transition-timing-function: var(--easing);
    transition-delay: 0ms, 600ms
  }
  h2 {
    opacity: 1;
    transition: opacity var(--duration) var(--easing) var(--duration);
  }
}
