html,
:host {
  --font-fallback: ui-monospace,
      SFMono-Regular,
      Menlo,
      Monaco,
      Consolas,
      "Liberation Mono",
      "Courier New",
      monospace;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  font-family: "JetBrains Mono", var(--font-fallback);
}

*,
::before,
::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100%;
  min-height: 100vh;
  line-height: inherit;
}

svg {
  display: block;
}

h1,
h2,
h3 {
  text-wrap: balance;
  font-size: inherit;
  font-weight: inherit;
}

p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}
