:host {
  display: block;
  border-radius: .5rem;
  overflow: hidden;
  border: 1px solid black;
}

a {
  display: block;
}

::slotted([slot="heading"]) {
  margin-top: 1.5rem;
}

div.text {
  padding: 1rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
