:host {
  --icon-size: 8.75rem;
  --duration: 1000ms;
  display: block;
  position: fixed;
  pointer-events: none;
  inset: 0 2rem;
  height: 100svh;
  background-color: var(--bg);
  background-image: linear-gradient(to bottom, var(--bg), var(--bg) 6rem, transparent 12rem);
}

:host, ::slotted(*) {
  transition-duration: var(--duration);
  transition-timing-function: var(--easing);
}

::slotted(*) {
  position: absolute;
}

::slotted([slot="icon"]) {
  width: var(--icon-size);
  height: var(--icon-size);
  top: calc(50% - var(--icon-size) / 2);
  left: calc(50% - var(--icon-size) / 2);
}

::slotted([slot="heading"]) {
  pointer-events: auto;
  top: calc(50% + 3.75rem);
  right: 50%;
  translate: 50%;
}

:host(.end) {
  background-color: transparent;
  transition-property: background-color;
}
