:host, ::slotted(*) {
  display: block;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1000ms;
}

:host {
  --size: 8.75rem;
  position: fixed;
  pointer-events: none;
  inset: 2rem;
  height: calc(100svh - 4rem);
  background-color: inherit;
}

::slotted(svg) {
  position: absolute;
  width: var(--size);
  height: var(--size);
  top: calc(50% - var(--size) / 2);
  left: calc(50% - var(--size) / 2);
}

::slotted(h1) {
  position: absolute;
  pointer-events: auto;
  top: calc(50% + 3.75rem);
  right: 50%;
  transform: translateX(50%);
}

:host(.ready) {
  --size: 6rem;
  background-color: transparent;

  ::slotted(svg) {
    top: 0;
    left: 0;
  }

  ::slotted(h1) {
    top: calc(var(--size) / 2);
    right: 0;
    transform: translateY(-50%);
  }
}
