footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  color: var(--sub-fg);
  font-size: 0.75rem;

  @media screen and (min-width: 40rem) {
    flex-direction: row;
    align-items: center;
  }
}
