@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/Inter-var.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Polly';
  font-style: normal;
  font-display: block;
  src: url(/fonts/LVDC-Polly.woff2) format('woff2');
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.circle {
  border-width: 1.5rem;
}
@keyframes animation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}
.bar {
  width: 16rem;
  top: calc(50% - 0.75rem);
  left: calc(0% - 2rem);
  animation: animation 5s linear infinite;
}
.triangle {
  border-bottom: solid 1.5rem #fd2e7a;
  border-left: solid 0.375rem transparent;
  border-right: solid 2rem transparent;
  left: calc(0.625rem);
}
.triangle2 {
  border-top: solid 1.5rem #fd2e7a;
  border-right: solid 0.375rem transparent;
  border-left: solid 2rem transparent;
  left: calc(100% - 3rem);
}
.errorCode {
  font-size: 6.25rem;
  font-family: 'Polly', sans-serif;
}
.errorSentence {
  font-family: 'Polly', sans-serif;
}