@import "mixins.css";

header {
  --duration-load: 1000ms;
  --duration-hover: 300ms;
  position: fixed;
  pointer-events: none;
  inset: 0 var(--pad-x);
  height: 100svh;
  transition: background-color var(--duration-load) var(--easing);
  background-color: var(--bg);

  .icon,
  h1 {
    pointer-events: auto;
    position: absolute;
    transition-timing-function: inherit;
  }

  .icon {
    border: none;
    border-radius: 50%;
    width: var(--icon-size);
    height: auto;

    transition-property: color, background-color, top, left, width, height;
    transition-duration:
      var(--duration-hover), var(--duration-hover), var(--duration-load),
      var(--duration-load), var(--duration-load), var(--duration-load);
    top: calc(50% - var(--icon-size) / 2);
    left: calc(50% - var(--icon-size) / 2);
  }

  h1 {
    transition-property: top, right, translate;
    transition-duration: inherit;
    top: calc(50% + 3.75rem);
    right: 50%;
    translate: 50%;
  }

  @media (prefers-reduced-motion: reduce) {
    @apply header_end;
  }
}

header.end {
  @apply header_end;
}

#hair {
  fill-opacity: var(--hair-opacity);
  transition: fill-opacity var(--duration-hover) var(--easing);
}

.icon:hover {
  color: var(--neutral-900);
  background-color: #fff5f6;

  #hair {
    fill-opacity: 1;
  }
}
